services:
  nginx:
    image: nginx:latest
    volumes:
      - ./:/var/www
      - ./docker-compose/nginx:/etc/nginx/conf.d
    ports:
      - 8886:80
    depends_on:
      - app
    container_name: funnyholidays_nginx

  app:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./:/var/www
    container_name: funnyholidays_app

  # db:
  #   image: mysql:latest
  #   restart: always
  #   volumes:
  #     - ./docker-compose/mysql/:/var/lib/mysql/
  #   environment:
  #     MYSQL_DATABASE: $DB_DATABASE
  #     MYSQL_ROOT_PASSWORD: $DB_PASSWORD
  #   ports:
  #     - '8102:3306'
  #   command: mysqld --character-set-server=utf8 --collation-server=utf8_unicode_ci
  #   container_name: funnyholidays_db