services:
  nginx:
    image: nginx:latest
    volumes:
      - ./:/var/www
      - ./docker-compose/nginx:/etc/nginx/conf.d
    ports:
      - 8886:80
    container_name: funnyholidays_nginx

  app:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./:/var/www
    container_name: funnyholidays_app